# 前端
lumenami-frontend/node_modules/
lumenami-frontend/dist/
lumenami-frontend/.env

# 后端
lumenami-backend/target/
lumenami-backend/*.log
lumenami-backend/src/main/resources/application.properties

# IDE
.idea/
*.iml

# 系统
.DS_Store
Thumbs.db

# 日志
*.log